/*
cloud.css
*/

/*
setup
*/
body {
    background-color: rgb(163, 241, 255);
}
a.gooruem {
    font-weight: bold;
}
a.gooruem:link {
    color: rgb(0, 127, 177);
}
a.gooruem:visited {
    color: rgb(62, 75, 80);
}
pre.tr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px dotted rgb(15, 15, 15);
    width: 70%;
}
